$bgc : white;

$green: blue;
$padding: 10px;

body {
  background-color: $green;
}

html,
body,
#root {
  margin: 0;
  font-family: 'alteHaas', sans-serif;
  font-weight: normal;
  height: 100%;
  color: $green;
  background: $green;
  max-width: 100%;
  overflow: hidden;
}

.line {
  position: fixed;
  left: 50%;
  height: 100%;
  top: $padding;
  bottom: $padding;
  transform: translate(0, -1px);
  width: 0;
  border: dashed 2px $green;
  background: $bgc;
  z-index: 2;
  content: '';
  opacity: 0;
  transition: all .5s linear;
  transition-delay: .5s;

  &.show {
    opacity: 1;
  }
}

body:after {
  position: fixed;
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
  z-index: 1;
  background: $bgc;
  content: '';
}

canvas#game {
  position: absolute;
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
  z-index: 5;
  max-width: calc(100% - 20px) !important;
  max-height: calc(100% - 20px) !important;
}

.tracking-frame {
  position: relative;
  margin: auto;
  width: 440px;
  display: block;
  z-index: 999;
  background-color: $bgc;
  //opacity: 0;

  canvas, video {
    position: absolute;
    width: 100%;
  }
}